Repository typst/typst, pull requests merged in 2025-06, with the labels that each got.

#6336 Use the shaper in math
  crates/typst-layout/src/inline/mod.rs
  crates/typst-layout/src/inline/shaping.rs
  crates/typst-layout/src/math/accent.rs
  crates/typst-layout/src/math/attach.rs
  crates/typst-layout/src/math/frac.rs
  crates/typst-layout/src/math/fragment.rs
  crates/typst-layout/src/math/lr.rs
  crates/typst-layout/src/math/mat.rs
  crates/typst-layout/src/math/mod.rs
  crates/typst-layout/src/math/root.rs
  crates/typst-layout/src/math/shared.rs
  crates/typst-layout/src/math/stretch.rs
  crates/typst-layout/src/math/text.rs
  crates/typst-layout/src/math/underover.rs
  crates/typst-library/src/text/font/mod.rs
  crates/typst-library/src/text/item.rs
  crates/typst-library/src/text/mod.rs
  crates/typst-pdf/src/text.rs
  crates/typst-render/src/text.rs
  crates/typst-svg/src/text.rs
  tests/ref/math-accent-dotless-greedy.png
  tests/suite/math/accent.typ
Labels: math, refactor

#6159 Use `codex::ModifierSet`
  Cargo.lock
  Cargo.toml
  crates/typst-library/src/foundations/symbol.rs
  docs/Cargo.toml
  docs/src/lib.rs
  tests/suite/symbols/symbol.typ
Labels: symbols, refactor

#5688 Fix stroke cap of shapes with partial stroke
  crates/typst-layout/src/shapes.rs
  tests/ref/rect-stroke-caps.png
  tests/suite/visualize/rect.typ
Labels: visualize, fix
