Repository typst/typst, pull requests merged in 2025-03, with the labels that each got.

#6040 Update 1-writing.md to improve readability
  docs/tutorial/1-writing.md
Labels: docs

#6037 IDE: complete jump-to-cursor impl
  crates/typst-ide/src/jump.rs
  crates/typst-library/src/visualize/curve.rs
Labels: ide

#6092 Add env setting for ignore_system_fonts
  crates/typst-cli/src/args.rs
Labels: cli, interface

#5976 Improve french smartquotes
  crates/typst-library/src/text/smartquote.rs
  tests/ref/smartquote-disabled-temporarily.png
  tests/ref/smartquote-fr.png
  tests/ref/smartquote-with-embedding-chars.png
  tests/suite/text/smartquote.typ
Labels: text, interface

#5970 Add default parameter for array.{first, last}
  crates/typst-library/src/foundations/array.rs
  tests/suite/foundations/array.typ
Labels: scripting, interface

#5934 Unify layout of `vec` and `cases` with `mat`
  crates/typst-layout/src/math/mat.rs
  crates/typst-layout/src/math/shared.rs
  crates/typst-layout/src/math/underover.rs
  tests/ref/math-cases-linebreaks.png
  tests/ref/math-equation-font.png
  tests/ref/math-mat-vec-cases-unity.png
  tests/ref/math-vec-linebreaks.png
  tests/suite/math/cases.typ
  tests/suite/math/mat.typ
  tests/suite/math/vec.typ
Labels: math
